* {
  box-sizing: border-box;
}

body {
  margin: 0; 
  padding: 80px;
  font-family: "Roboto", sans-serif;
}

.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
}

.nav_links {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav_link {
  font-size: 18px;
  padding: 0 6px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site_name {
  display: inline-block;
  border-radius: 100%;
  font-weight: 800;
}

.site_name h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.search {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.search input {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 0 5px 0 8px;
  width: 400px;
}

.search .search_button {
  font-size: 17px;
  width: 37px;
  height: auto;
  padding: 2px 6px 3px 6px;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

.search_nav {
  display: inline-block; 
  font-size: 0;
  margin-bottom: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

.search_button {
  font-size: 16px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
}

.search_dir_results {
  font-size: 16px;
  padding: 8px 15px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  display: inline-block;
}

.search_result {
  padding: 0;
  padding-left: 0;
}

.job {
  list-style: none;
  margin-bottom: 15px;
}

.job_date ,
.job_location {
  color: #999;
}

.job_title {
  font-weight: bold;
  font-size: 17px;
  margin-left: 8px;
  margin-right: 8px;
}

.search_button {
  vertical-align: bottom;
}

.magnifying-glass-icon {
  height: 100%;
}
